<!DOCTYPE html>
<html>
<head>
  <title>Veículos na minha respondabilidade</title>
  <% include ../Fixos/Declaracoe.ejs %>
</head>
<body>

  <% include ../Fixos/VeiculosComunNavBar.ejs %>
  
<div class="container">
   <h2>Veículo em minha responsabilidade</h2>
  <p>Lista de veículo que estão em minha respondabilidade.</p>
  <%if (MostrarDados === 1) { %>
  <table class="table">
    <thead>
      <tr>
        <th>Placa</th>
        <th>Marca</th>
        <th>Tipo</th>
        <th>Categoria de CNH</th>
		    <th>Status</th>
        <th>Quilometragem</th>
		    <th>Combustível</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>     
        <% Veiculo.forEach(function(customer){ %>
         <tr>
        	  <td> <%= customer.placa %> </td>
       		  <td> <%= customer.marca %> </td>			
			      <td> <%= customer.tipo %> </td>
            <td> <%= customer.categoriaDeCNH %> </td>
			      <td> <%= customer.status %> </td>				
            <td> <%= customer.quilometragem %> </td> 
			      <td> <%= customer.combustivel %> </td> 		
            <td><p><a href="/cadastro/ordem/<%= customer.placa %>">Adicionar serviço</a></p></td>
         </tr>
         <% }) %>
       </tbody>
    </table>
    <% } else if (MostrarDados === 3) { %>
         
      <div class="alert alert-danger">
		    <strong>Erro!</><%= erro %>.
      </div>

    <% } %>
</div>

</body>
</html>
